body {
  margin: 0;
}

nav {
  display: flex;
  background-color: lightskyblue;
}

.nav-item{
  display: flex;
}

.nav-item a {
  padding: 15px;
  color: white;
  text-decoration: none;
}

img {
  border-radius: 100%;
  object-fit: cover;
}
